<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <h1>about my village</h1>
    <h4>Gandlavedu is a small Village/hamlet in Atmakur Mandal in Spsr Nellore District of Andhra Pradesh State, India. It comes under Gandlavedu Panchayath. It belongs to Andhra region . It is located 70 KM towards west from District head quarters Nellore. 14 KM from Atmakur. 367 KM from State capital Hyderabad

        Gandlavedu Pin code is 524307 and postal head office is Karatampadu .
        
        Aravedu ( 4 KM ) , Padakandla ( 4 KM ) , D.c.palli ( 5 KM ) , Nalla Gonda ( 6 KM ) , Nandavaram ( 6 KM ) are the nearby Villages to Gandlavedu. Gandlavedu is surrounded by Atmakur Mandal towards South , Anumasamudrampeta Mandal towards East , Duttalur Mandal towards North , Marripadu Mandal towards west .
        
        Kavali , Nellore , Gudur , Kandukur are the near by Cities to Gandlavedu.
        .</h4>

    <h2>colleges near gandlavedu</h2>
    <h4>Sri Sreenivasa Jr College, Atmakur
        Address : Atmakur<br>
        Priyadarsini Jr Coll, Atmakur<br>
        Address : Atmakur<br>
        Dr B S R Jr College (co-education) Atmakur<br>
        Address :<br>
        Sriraghavendra Jr College Atmakur<br>
        Address :<br>
        Govt Jr College, Atmakur
        Address : Atmakur</h4>

    <h3>The village Gandlavedu is located in Atmakur Mandal of Spsr Nellore District in the State of Andhra Pradesh in India. It is governed by Padakandla Gram Panchayat. It comes under Atmakur Community Development Block. The nearest town is Nellore, which is about 83 kilometers away from Gandlavedu.</h3>
    <h3>Gandlavedu is a Village in Atmakur Mandal, Nellore district of Andhra Pradesh state in India. Gandlavedu population in 2023 is estimated to be 1,157.</h3>
    <h1>details of my village</h1>
    <h3>Area (2020)	-----------------------------------------------------11.95 km²<br>
        Population (2020)-----------------------------------------------1033<br>
        Population Density-----------------------------------------------131 people per km²<br>
        Male Population	-------------------------------------------------525<br>
        Female Population------------------------------------------------508<br>
        Nearest airport & distance (Aerial)	Kadapa Airport-------------- 62.18 km<br>
        Nearest Railway Station & Distance (Aerial)	Bitragunta,----------40.48 km<br>
        </h3>
</head>
<body>
    
</body>
</html>